.right-sidebar {
  /* 사이드바 스타일을 지정하세요 */
  position: fixed; /* 사이드바를 고정시킴 */
  top: 65px; /* 맨 위에 고정 */
  right: 0; /* 오른쪽에 고정 */
  width: 400px; /* 사이드바 너비를 조정 */
  height: 100%; /* 사이드바 높이를 100%로 설정하여 컨테이너 높이에 맞춤 */
  background-color: #000000; /* 원하는 배경색으로 변경 */
  /* 기타 스타일 속성을 추가하세요 */
  border-left: 1px solid #ddd; /* 페이지와 사이드바 구분선 추가 */
}
