<div class="relative w(100%) h(auto)" >
  <div class="relative vbox pack w(100%) h(550)">
    <video class="fiexd h(100%) w(100%)" autoplay muted loop >
      <source src="https://waynehills-ttv-assets.s3.ap-northeast-2.amazonaws.com/videos/waynehills_AI_0831.mp4" type="video/mp4">
    </video>

    <div class="absolute">
      <div class="vbox(center)">
        <p class="font(48/56) Roboto bold c(#fff) text(center)">Unleash your creativity with unrivaled images</p>
        <p class="font(20/32) Roboto c(#fff) text(center)">Add wonder to your stories with 400M+ photos, vectors, illustrations, and editorial images.</p>
      </div>
      
      <div class="relative top(15) w(1173) vbox(left) p(16) bg(#0c121c.38) r(8)">
        <div class="w(1140) h(~50) hbox(top) flex-wrap gap(24) r(8)">
          <div class="relative hbox(center) w(170) h(50) hbox(top) bg(#fff) r(8) gap(15)">
            <div class="w(25) h(25)">
              <img src="../../../../assets/free-icon-magic-11082484.png">
            </div>
            <p class="font(16/24) Roboto c(#000.87)">Tools</p>
          </div>
  
          <div class="w(fill) w(870) h(50) pack p(1/0/1/4) bg(#fff) r(8/0/0/8)">
            <input class="w(840) h(45) b(none) outline(none)" type="text" placeholder="Enter the prompt">
          </div>
  
          <div class="bg(#fc3441) r(0/8/8/0) w(50) h(50)">
              <button class="w(100%) h(100%)"></button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="pack w(100%) h(auto) vbox">
    <div class="p(20) w(73%) ">
      <div class="vbox(right) gap(20)">
        <div> 
          <p class="font(48/56) Roboto bold c(#fff)">See what’s trending</p>
        </div>
      
        <div class="hbox(right) gap(20)">
          <p class="font(16/20) Roboto bold c(#fff) text(center)" >Most popular</p>
          <p class="font(16/20) Roboto medium c(#fff.6) text(center)">Handpicked content</p>
        </div>
      </div>  
    </div>
  </div>
  
  <div class="h(200)"></div>

  <div class="pack w(100%) h(auto) vbox">
    <div class="p(20) w(73%)">

      <div class="relative bottom(20) gap(20)">
        <p class="font(48/56) Roboto bold c(#fff)">Boards</p>
      </div>

      <div class="hbox(left) gap(55)">
        <div class="vbox(left)">
          <img class="w(416) h(350) r(5)" src="../../../../assets/what.jpeg">
          <div class="relative top(10) vbox">
            <p class="font(20/24) Roboto bold c(#fff)">Free Colorful Clip Art to Promote Sales and<br/>Discounts</p>
            <p class="font(14/20) Roboto c(#fff.6)">Neon-colored and easy-to-use PNGs are here to assist you with<br/>any sale or promotion you’ve planned for 2023.</p>
          </div>
        </div>
        <div class="vbox(left)">
          <img class="w(416) h(350) r(5)" src="../../../../assets/board.jpeg">
          <div class="relative top(10) vbox">
            <p class="font(20/24) Roboto bold c(#fff)">Free Colorful Clip Art to Promote Sales and<br/>Discounts</p>
            <p class="font(14/20) Roboto c(#fff.6)">Neon-colored and easy-to-use PNGs are here to assist you with<br/>any sale or promotion you’ve planned for 2023.</p>
          </div>
        </div>
        <div class="vbox(left)">
          <img class="w(416) h(350) r(5)" src="../../../../assets/faq.jpeg">
          <div class="relative top(10) vbox">
            <p class="font(20/24) Roboto bold c(#fff)">Free Colorful Clip Art to Promote Sales and<br/>Discounts</p>
            <p class="font(14/20) Roboto c(#fff.6)">Neon-colored and easy-to-use PNGs are here to assist you with<br/>any sale or promotion you’ve planned for 2023.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="h(200)"></div>

  <div class="pack w(100%) h(auto) vbox">
    <div class="p(20) w(73%)">
      <div class="hbox space-between">
        <div class="w(600) h(350) bg(#FF0000)">튜토동영상</div>
        <div class="w(500)">
          <p class="font(48/56) Roboto bold c(#fff)">A weekly dose of<br/>inspiration, just<br/>for you</p>
          <p class="font(20/32) Roboto c(#fff.6)">Sign up and get a free image or photo every<br/>week</p>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="h(200)"></div>