<div class="vbox w(100%) h(100%) bg(#1a1a1a) p(20/40)">
  <div class="m(20)">
    <div class="font(25) Inter semi bold c(#fff) mb(10)">Try AI tools</div>
    <div class="hbox">
      <div class="mr(20)">
        <div class="w(307) h(161) bg(#d9d9d9) r(10)"></div>
        <p class="c(#FFFFFF) mt(10)">dsds</p>
      </div>

      <div>
        <div class="w(307) h(161) bg(#d9d9d9) r(10)"></div>
        <p class="c(#FFFFFF) mt(10)">dsds</p>
      </div>
    </div>
  </div>

  <div class="m(20)">
    <div class="x(474) y(145) font(25) Inter semi bold c(#fff) mb(10)">
      Tutorials
    </div>
    <div class="hbox">
      <div class="mr(20)">
        <div class="w(307) h(161) bg(#d9d9d9) r(10)"></div>
        <p class="c(#FFFFFF) mt(10)">dsds</p>
      </div>

      <div>
        <div class="w(307) h(161) bg(#d9d9d9) r(10)"></div>
        <p class="c(#FFFFFF) mt(10)">dsds</p>
      </div>
    </div>
  </div>

  <div class="m(20)">
    <div class="x(474) y(145) font(25) Inter semi bold c(#fff) mb(10)">
      Discover
    </div>
    <div class="hbox">
      <div class="mr(20)">
        <div class="w(307) h(161) bg(#d9d9d9) r(10)"></div>
        <p class="c(#FFFFFF) mt(10)">dsds</p>
      </div>

      <div>
        <div class="w(307) h(161) bg(#d9d9d9) r(10)"></div>
        <p class="c(#FFFFFF) mt(10)">dsds</p>
      </div>
    </div>
  </div>
</div>
