<div class="w(100%) h(100%) bg(#1a1a1a)">
    <div class="relative left(50) top(30)">
        <div class="font(25) Inter semi bold c(#fff) mb(10)">Try AI tools</div>
        <div class="hbox">
            <div class="mr(20)">
                <div class="w(307) h(161) bg(#d9d9d9) r(10)"></div>
                <p class="c(#FFFFFF) mt(10)">dsds</p>
            </div>
            
            <div>
                <div class="w(307) h(161) bg(#d9d9d9) r(10)"></div>
                <p class="c(#FFFFFF) mt(10)">dsds</p>
            </div>
        </div>
    </div>

    <div class="relative left(50) top(60)">
        <div class="x(474) y(145) font(25) Inter semi bold c(#fff) mb(10)">Tutorials</div>
        <div class="hbox">
            <div class="mr(20)">
                <div class="w(307) h(161) bg(#d9d9d9) r(10)"></div>
                <p class="c(#FFFFFF) mt(10)">dsds</p>
            </div>
            
            <div>
                <div class="w(307) h(161) bg(#d9d9d9) r(10)"></div>
                <p class="c(#FFFFFF) mt(10)">dsds</p>
            </div>
        </div>
    </div>

    <div class="relative left(50) top(90)">
        <div class="x(474) y(145) font(25) Inter semi bold c(#fff) mb(10)">Discover</div>
        <div class="hbox">
            <div class="mr(20)">
                <div class="w(307) h(161) bg(#d9d9d9) r(10)"></div>
                <p class="c(#FFFFFF) mt(10)">dsds</p>
            </div>
            
            <div>
                <div class="w(307) h(161) bg(#d9d9d9) r(10)"></div>
                <p class="c(#FFFFFF) mt(10)">dsds</p>
            </div>
        </div>
    </div>
</div>