

<form action="#">
    <label for="lang">
        <select name="languages" id="lang" multiple class="w(185) h(140) bg(#4B4B4B) Inter Regular font(15) c(white) r(5)">
            <option value="en" class="pack mt(5)" selected>English</option>
            <option value="ko" class="pack mt(9)" >한국어</option>
            <option value="vn" class="pack mt(9)">Tiếng Việt</option>
            <option value="zh" class="pack mt(9)">中国語</option>
            <option value="ja" class="pack mt(9)">日本語</option>
        </select>
    </label>    
</form>

