<div class="absolute z(9999) right(15) top(52) w(300) h(275) bg(#2c2c2c) b(#4b4b4b) r(7)">
   
    <div class="hbox bb(#4b4b4b) h(100)">
        <div class="relative left(20) bg(#FF0000) w(70) h(70) r(50)"></div>
        <div class="vbox relative left(40)">
            <div class="font(25) Inter medium c(#fffdfd)">username</div>
            <div class="w(100) h(20) font(15) Inter c(#fffdfd) bg(#7d2cbe) r(5)">
                <button class="w(100) h(20)">
                    <p>edit profile</p>
                </button>
            </div>
        </div>
    </div>
    
    <div class="w(100%) bb(#4b4b4b) pt(10) pl(20) pb(10)">
        <div class="profile-items">MY SUBSCRIPTION</div>
        <div class="profile-items">MY WORKSPACE</div>
        <div class="profile-items">SETTINGS</div>
    </div>

    <div class="hbox pt(10) pl(20) pb(10)">
        <div class="w(18) h(18)"><img src="../../../../assets/3580175.png"></div>
        <div class="font(17) ml(5) mt(3) Inter medium c(#fffdfd)">LOGOUT</div>
    </div>
</div>