<div class="relative w(100%) h(100%) bg(black)">
  <div class="w(100%) h(380) bg(#A6A6A6) hbox pack">
    <div class="hbox w(690) h(60) r(10) bg(#2c2c2c)">
      <div class="hbox pack w(153) h(50) bg(#4b4b4b) r(10) m(10)">
        <p class="font(20) color(white) bold">Image</p>
      </div>
      <div class="w(450) h(50) r(10)">
        <input
          class="w(100%) h(100%) r(10) p(9) font(20)"
          placeholder="Please enter a search term"
          type="text"
        />
      </div>
      <div class="w(30) h(30) ml(20) mb(5) pointer">
        <svg
          width="37"
          height="37"
          viewBox="0 0 37 37"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle
            cx="13.5192"
            cy="13.5192"
            r="12.0192"
            stroke="#ACACAC"
            stroke-width="3"
          />
          <line
            x1="20.9838"
            y1="21.7089"
            x2="35.2145"
            y2="35.9396"
            stroke="#ACACAC"
            stroke-width="3"
          />
        </svg>
      </div>
    </div>
  </div>
  <div class="vbox">
    <div class="h(70) hbox pack">
      <div
        class="w(150) h(40) r(40) font(20) color(white) bold pack b(white) m(20) pointer"
      >
        Video
      </div>
      <div
        class="w(150) h(40) r(40) font(20) color(white) bold pack b(white) m(20) pointer"
      >
        Image
      </div>
    </div>
    <div class="h(100%) hbox pack">
      <div class="vbox w(1000) h(600) p(30)">
        <div class="hbox w(100%) gap(20)">
          <div class="w(100) font(20) color(white) bold bb(3/white) pack">
            Tranding
          </div>
          <div class="w(100) font(20) color(white) bold pack">Recent</div>
        </div>
        <div class="w(100%) h(100%) hbox gap(20) flex-wrap pack p(20)">
          <div class="w(270) h(300) bg(gray)"></div>
          <div class="w(270) h(300) bg(gray)"></div>
          <div class="w(270) h(300) bg(gray)"></div>
          <div class="w(270) h(300) bg(gray)"></div>
          <div class="w(270) h(300) bg(gray)"></div>
          <div class="w(270) h(300) bg(gray)"></div>
          <div class="w(270) h(300) bg(gray)"></div>
          <div class="w(270) h(300) bg(gray)"></div>
          <div class="w(270) h(300) bg(gray)"></div>
        </div>
      </div>
    </div>
  </div>
</div>
