<aside class="vbox w(270) h(100%) bg(black) p(20)">
  <div class="vbox w(230) r(10) items pointer " (click)="toggleMenu('videos')">
    <div class="hbox space-between w(100%) p(10)">
      <span class="font(20) Inter c(#fff)">VIDEOS<br /></span>
      <svg
        width="13"
        height="12"
        viewBox="0 0 13 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        >
        <path d="M6.5 12L0.00480938 0.75L12.9952 0.75L6.5 12Z" fill="white" />
      </svg>
    </div>
    <div class="vbox(left) w(100%) ml(30) gap(3)" #VideoList *ngIf="isMenuOpen && menuType === 'videos'">
      <li class="color(grey) font(18)" style="list-style: none">
        - Text to Video
      </li>
      <li class="color(grey) font(18)" style="list-style: none">
        - Text to Interactiv Video
      </li>
    </div>
  </div>

  <div class="vbox w(230) r(10) items pointer" (click)="toggleMenu('images')">
    <div class="hbox space-between w(100%) p(10)">
      <span class="font(20) Inter c(#fff)">IMAGES<br /></span>
      <svg
        width="13"
        height="12"
        viewBox="0 0 13 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M6.5 12L0.00480938 0.75L12.9952 0.75L6.5 12Z" fill="white" />
      </svg>
    </div>
    <div class="vbox(left) w(100%) ml(30) gap(3)" #ImageList *ngIf="isMenuOpen && menuType === 'images'">
      <li class="color(grey) font(18)" style="list-style: none">
        - Text to Image
      </li>
      <li class="color(grey) font(18)" style="list-style: none">
        - Text to Picasso
      </li>
      <li class="color(grey) font(18)" style="list-style: none">
        - Text to Charcter
      </li>
    </div>
  </div>

  <div class="vbox w(230) r(10) items pointer">
    <div class="hbox space-between w(100%) p(10)">
      <span class="font(20) Inter c(#fff)">MUSIC<br /></span>
      <svg
        width="13"
        height="12"
        viewBox="0 0 13 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M6.5 12L0.00480938 0.75L12.9952 0.75L6.5 12Z" fill="white" />
      </svg>
    </div>
  </div>

  <div class="vbox w(230) r(10) items pointer">
    <div class="hbox space-between w(100%) p(10)">
      <span class="font(20) Inter c(#fff)">WORKSPACE<br /></span>
    </div>
  </div>
</aside>
