<div class="relative vhbox h(100vh) clip user-select-none">
    <header>
      <app-header></app-header>
    </header>
    <div class="h(100%) w(100%) bg(black) pack">
        <div class="vbox gap(10)">
            
            
            <p class="c(white) font(25) Inter Semi Bold">Tittle</p>
            <input type="text" class="w(1000) h(50) bg(#2C2C2C) b(0) r(10) p(10) c(white)">
            <p class="c(white) font(25) Inter Semi Bold">Contents</p>
            <input type="text" class="w(1000) h(300) bg(#2C2C2C) b(0) r(10) p(10) c(white)">
            <p class="c(white) font(25) Inter Semi Bold">Attatchment</p>
            <p class="c(white) font(25) Inter Semi Bold">Tags</p>
            <input type="text" class="w(1000) h(50) bg(#2C2C2C) b(0) r(10) p(10) c(white)" placeholder="Add tags by tab or separated by space...">
    
            <div class="hbox">
                <div class="bg(#4B4B4B) w(80) h(45) font(20) r(50) pack c(#ACACAC) mr(20)"><p>x 3D</p></div>
                <div class="bg(#4B4B4B) w(150) h(45) font(20) r(50) pack c(#ACACAC)"><p>x NewPost</p></div>
            </div>
    
            <div class="absolute x(1220) y(810) hbox w(120) h(40) pack bg(linear-gradient(92.34deg,#2b2443/0%,#6047c2/17.19%,#9558db/56.25%,#ad71e7/82.29%,#e5defc.88/98.96%)) r(8)">
                <img src="./assets/paper_plane_1.png" class="h(20) w(20)">
                <div class="font(20) ml(10) Inter Regular c(white)"><p>Post</p></div>
            </div>
        </div>
    
    </div>

</div>
