<div class="w(80%) h(100vh) bg(#1A1A1A) scroll">
  <div class="vbox h(100vh)">
    <div class="font(30) Inter Semi Bold c(white) mb(20)">
      <p>Text to Picasso</p>
    </div>

    <div class="relative w(600) h(600) c(black) bg(#D9D9D9) pack">
      <p>Draw a sketch here</p>
    </div>
  </div>

  <div class="hbox h(50)">
    <div class="w(50) h(50) r(10) c(white) Inter Semi Bold font(20) pack">
      <p>Brush</p>
    </div>
    <div class="slidecontainer ml(25)">
      <input
        type="range"
        min="1"
        max="70"
        value="50"
        class="slider"
        id="myRange"
      />
    </div>
  </div>

  <div class="hbox h(50)">
    <div
      class="w(150) h(50) bg(#6511A8) r(10) c(white) Inter Semi Bold font(20) pack"
    >
      <p>Undo</p>
    </div>
    <div
      class="w(150) h(50) bg(#6511A8) ml(20) r(10) c(white) Inter Semi Bold font(20) pack"
    >
      <p>Redo</p>
    </div>
    <div
      class="w(260) h(50) bg(#6511A8) ml(20) r(10) c(white) Inter Semi Bold font(20) pack"
    >
      <p>지우기</p>
    </div>
  </div>
</div>
<!-- <app-img-rightbar></app-img-rightbar> -->
