<div class="relative vhbox h(100vh) clip user-select-none">
  <app-header></app-header>
  <div class="vbox h(100%) w(100%) bg(black) scroll"> 
    <ng-template #content></ng-template>
  </div>
</div>



     <!-- 아래 화살표 모양 -->

      <!-- <svg width="23" height="14" viewBox="0 0 23 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M22.213 1.6066L11.6064 12.2132L0.999844 1.6066" stroke="#ACACAC" stroke-width="2"/>
        </svg> -->
        
    
 <!-- search icon -->
 <!-- <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
  <circle cx="13.5192" cy="13.5192" r="12.0192" stroke="#ACACAC" stroke-width="3"/>
  <line x1="20.9835" y1="21.7084" x2="35.2143" y2="35.9392" stroke="#ACACAC" stroke-width="3"/>
</svg> -->
